# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Logs
logs/
*.log

# Redis
dump.rdb

# Build
dist/

# Uploads (Optional)
# uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Temporary
*.tmp
*.temp